
body{
  margin: 0;
 
  
   font-family: Arial, Helvetica, sans-serif;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
   position: relative;
   min-height: 100vh;
  
 

}
.about-us{
   
    width: 100%;
    color: white;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    justify-content: center;
    gap: 3em;
    
}





  


  .about{
    
  
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
   
}



  
.about-us {
  
   
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  
  
}
.pic2{
    margin-top: auto;
    margin-bottom: auto;
   
      
       
      
        
        border-radius: 100%;
     
         
        animation: rotate 1s linear infinite;
        
   
   
}
@keyframes rotate {
0%,100%{
    box-shadow: 0px 0px 1px;
}

50%{
    box-shadow: -0px 0px 10px;
}
}
    






 

.about {
  width: 100%;

 
  display: flex;
  align-items: start;
  justify-content: space-around;
  
}
.text {
  width: 540px;
}
.text h2 {
  color: #ffffff;
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text h5 {
  color: #fa3838;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text p {
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data {
  margin-top: 2em;
}
.hire {
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover {
  background: #000;
}
