
.education{
    height: 100vh;
    display: grid;
  grid-template-columns: repeat(3, 25em);
 
 place-items: center;

    
    
    
}
.eduP{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 0.2em;
    position: absolute;
    color: #1997dc;
  font-size: 50px;
  font-weight: 600;
 
}

.flip-card {
    
   
    background-color: transparent;
    width: 350px;
    height: 100px;
   
  
    perspective: 900px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {

    border-radius: 30px;
    position: relative;
    width: 100%;
    height: 100%;
  
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    
    border-radius: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
   
    background-color: transparent;
    border: 2px solid white;
    color: rgb(255, 255, 255);
    
  }
  .first{
  display: block;
  margin-left: 20px;
  line-height: 2px;
    
  }
  .first h2{
text-align: center;
color: rgb(0, 153, 255);
  }
  .first > :first-child{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1em;
  }
  /* Style the back side */
  .flip-card-back {
    
    background-color: transparent;
    border: 2px solid white;
    color: rgb(255, 255, 255);
    transform: rotateY(180deg);
   
    color: white;
    display: flex;
    flex-direction: column;
    user-select: none;
    align-items: center;
    justify-content: space-around;

    line-height: 2px;
  }
.flip-card-back >:first-child{
    margin-top: 40px;
     color: rgb(0, 153, 255);;
}

.loader {
    width: 100px;
    display: grid;
    background: radial-gradient(farthest-side, #fff 98%, #0000) center/30px 100%
      no-repeat;
    --mask: 
      radial-gradient(12px at left 15px top 50%, #0000 95%, #000),
      radial-gradient(12px at center, #0000 95%, #000),
      radial-gradient(12px at right 15px top 50%, #0000 95%, #000);
    -webkit-mask: var(--mask);
            mask: var(--mask);
    -webkit-mask-composite: source-in;
            mask-composite: intersect;
    animation: l2 1s infinite alternate;
  }
  .loader:before,
  .loader:after {
    content: "";
    grid-area: 1/1;
    height: 30px;
    aspect-ratio: 1;
    background: #fff;
    border-radius: 50%;
  }
  .loader:after {
    margin-left: auto;
  }
  @keyframes l2 {
    to {
      width: 50px;
    }
  }